build/
.vscode/
Scalar/
imgui.ini
*.zip
document-hw2.aux
document-hw2.fls
document-hw2.log
document-hw2.out
document-hw2.pdf
document-hw2.synctex.gz
document-hw2.toc
texput.fls
texput.log
document-hw3.aux
document-hw3.fls
document-hw3.log
document-hw3.out
document-hw3.pdf
document-hw3.synctex.gz
.gitignore
document-hw3.toc
